/* Y축 ⬇️⬆️ */
/* X축 ⬅️➡️ */
/* 폰트 설정하기 */
/* a tag */
/* font-family: 'Nanum Gothic Coding', monospace; */
@font-face {
 font-family: 'NanumSquareNeo-Variable';
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
 font-weight: normal;
 font-style: normal;
}
a {
 text-decoration: none;
 /* color: black; */
}

.under-line {
 font-weight: 700;
 font-size: 32px;
 font-family: 'NanumSquareNeo-Variable';
}

body {
 /* height: 1000vh; */
 /* width: 100%; */
 margin: 0 auto;
}

/* body > header-container */
.header-container {
 /* margin: 0 auto; */
 top: 0;
 height: 100px;
 position: fixed;
 display: flex;
 justify-content: space-between;
 width: 100%;
 padding: 32px;
 box-sizing: border-box;
 align-items: center;
 z-index: 100;
}

header.hide {
 transform: translateY(-100%);
}

header {
 transition: 0.5s;
}


/* header-container > header-flex  */
.header-flex {
 display: flex;
 justify-content: space-between;
 align-items: center;
}


/* header-container > header-flex > header-title */
.header-title {
 font-size: 32px;
 font-weight: bold;
 color: white;
 font-family: 'NanumSquareNeo-Variable';
}


/* header-container > header-flex > div > header-navi */
.header-navi {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-left: 16px;
}


/* header-container > header-flex > div > header-navi > menu-title */
.menu-title {
 padding: 26px;
 position: relative;
 font-size: 16px;
 /* color: black; */
}

.menu-title:hover .header-inner-menu {
 display: block;
 /* width: 100%; */
 height: auto;
}

.menu-title a {
 color: white;
 font-family: 'NanumSquareNeo-Variable';
}


/* header-container > header-flex > div > header-navi > menu-title > a > header-inner-menu */
.header-inner-menu {
 position: absolute;
 height: 0;
 width: 130%;
 overflow: hidden;
 background-color: white;
 margin-top: 18px;
 left: 7px;
 box-shadow: 1rem 1rem 30rem 0rem rgba(95, 95, 95, 0.5);

}

.header-inner-menu li {

 display: flex;
 justify-content: center;
 padding: 8px 0;
 width: 100%;
 left: 0;
 text-align: left;
 cursor: pointer;
 border-style: none;
 border-bottom: 1px solid rgb(225, 225, 225);
 box-sizing: border-box;
 position: relative;
}

.header-inner-menu li:hover a {
 color: rgb(225, 225, 225);
}
.header-inner-menu li::after {
 content: "|";
 color: white;
}
.header-inner-menu li:last-child::after {
 content: "";
}

/* header-container > header-right */
.header-right {
 display: flex;
 justify-content: space-between;
 align-items: center;
 /* padding: 32px; */
 font-size: 14px;
}

.header-right a {
 color: white;
 font-family: 'NanumSquareNeo-Variable';
}

.notice, .login {
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
 padding: 0 15px;
}
.notice li::after {
 content: "|";
 color: white;
}
.notice  li:last-child::after {
 content: "";
}
.login li::after {
 content: "|";
 color: white;
}
.login li:last-child::after {
 content: "";
}


/* header-container > header-right > notice */
.notice, .login {
 margin-right: 8px;
 padding: 26px;
 cursor: pointer;
}

/* header-container > header-right > login */


/* header.open-menu */
header.open-menu {
 width: 100%;
 background-color: white;
 /* 색상 화이트 변경*/
 color: white;
 /* 검정으로 변경*/
}

.open-menu a {
 color: pink;
 /*밝은 계열로 변경*/
}

/* .header-container.top-content {
 transform: translateY(-100%);
 opacity: 1;
 transition-property: opacity;
 transition-duration: 1s;
 transition-timing-function: ease-out;
} */


/* main-container content */
.main-container {
 /* margin: 0 auto; */
 /* width: 100%; */
}

.str-text:nth-child(3) {
 display: none;
}


.middle-title {
 position: absolute;
 color: white;
 top: 40%;
 /* left: 1%; */
 padding: 0 40px;
 font-size: 21px;
 /* letter-spacing: 1em;  글자 사이의 간격(자간)*/
 /* word-spacing: ; 단어 사이의 간격(어간)*/
 /* line-height: ; 행 사의 간격(행간) */
 line-height: 1.5em;
 animation: middle-text 1s ease-out both;
 animation-delay: 1s;
 font-family: 'Nanum Gothic', sans-serif;
}

.str-text {
 font-size: 44px;
 font-weight: 600;
 position: absolute;
 top: 50%;
 /* left: 1%; */
 color: white;
 display: block;
 line-height: 1.4em;
 padding: 15px 0 30px 40px;
 animation: big-text 1s ease-out both;
 animation-delay: 1.25s;
 font-family: 'NanumSquareNeo-Variable';
}

.btn-header {
 font-size: 16px;
 position: absolute;
 top: 70%;
 margin: 0 42px;
 width: 130px;
 height: 40px;
 border-radius: 20px;
 text-decoration: none;
 cursor: pointer;
 border: none;
 display: block;
 background-color: beige;
 opacity: 1;
 box-shadow: 8px 8px 15px rgba(53, 53, 53, 0.9);
 transition: all 0.2s linear;
}
.btn-header a {
 color: black;
}
.btn-main {
 font-size: 16px;
 position: absolute;
 top: 70%;
 margin: 0 42px;
 width: 130px;
 height: 40px;
 border-radius: 20px;
 text-decoration: none;
 cursor: pointer;
 border: none;
 display: block;
 background-color: beige;
 box-shadow: 8px 8px 15px rgba(53, 53, 53, 0.9);
 transition: all 0.2s linear;
}

.btn-main a {
 color: black;
 font-family: 'NanumSquareNeo-Variable';
}
.btn-main:hover, .btn-header:hover {
 transform: scale(1.1);
}



/* animation-section */
@keyframes middle-text {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

@keyframes big-text {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

@keyframes btn-box {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

/* slider > img */
.change-img {
 height: 100vh;
 display: block;
 background-image: url(/img/girl-5623231_1280.jpg);
 background-size: cover;
 position: relative;
}

/* .second-img {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 1600px;
 height: 100vh;
 display: block;
 background-image: url(/img/pets-3715733_1280.jpg);
 background-size: cover;
 transition: 0.5s;
 opacity: 0;
} */

/* section > content-wrapper */
.content-wrapper {
 background-color: beige;
 display: flex;
 position: relative;
 justify-content: space-between;
 height: 100vh;
 /* width: 1600px; */
 overflow: hidden;
 /* left: 0; */
 padding: 0 40px;
}

/* 
text-content-intro"
text-content-first"
text-content-second
*/
.text-content-intro {
 position: absolute;
 top: 30%;
 /* left: 5%; */
 font-size: 16px;
 font-family: 'Nanum Gothic Coding', monospace;
}

.text-content-first {
 position: absolute;
 top: 35%;
 /* left: 4.3%; */
 font-size: 30px;
 font-weight: 700;
 font-family: 'NanumSquareNeo-Variable';
 text-shadow: 4px 2px 7px #7a7a7a;
 color: black;
}

.text-content-second {
 position: absolute;
 top: 43%;
 /* left: 4%; */
 font-size: 40px;
 font-weight: 700;
 z-index: 1;
 font-family: 'NanumSquareNeo-Variable';
 text-shadow: 4px 2px 7px #7a7a7a;
}

.video-container video {
 border-radius: 10px;
}

.video-container video:nth-child(1) {
 position: absolute;
 width: 300px;
 left: 65%;
 top: 15%;
 z-index: 1;
 animation-name: video2;
 animation-duration: 1.5s;
 animation-delay: 1s;
 transform: translateX(0);
}

.video-container video:nth-child(2) {
 position: absolute;
 width: 300px;
 left: 80%;
 top: 15%;
 z-index: 2;
 animation-name: video3;
 animation-duration: 3s;
 animation-delay: 1.5s;
 transform: translateX(0);
}

.video-container video:nth-child(3) {
 position: absolute;
 width: 300px;
 left: 50%;
 top: 15%;
 animation-name: video1;
 animation-duration: 1s;
 transform: translateX(0);
 transition: 1s;
}

@keyframes video1 {
 0% {
  transform: translateX(50%);
 }
}

@keyframes video2 {
 0% {
  transform: translateX(65%);
 }
}

@keyframes video3 {
 0% {
  transform: translateX(80%);
 }
}

/* video 스크롤시 하나씩 나오게 하기 */
.btn-main {
 position: absolute;
 top: 55%;
 left: 2%;
}

/* sticky-section */
.sticky-section {
 background-image: url(/img/friends-3042751_1280.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 height: 200vh;
 position: sticky;
 top: 0;
 object-fit: cover;
 object-position: 100%;
}

.sticky-section span {
 position: relative;
 top: 50%;
 left: 50%;
 z-index: 1;
 transform: translate(-50%, -50%);
 display: none;
 /* font-family: 'Gowun Batang', serif; */
 font-family: 'NanumSquareNeo-Variable';
}
.sticky-section span:nth-child(1) {
 display: block;
 animation-name: sticky-section;
 animation-fill-mode: both;
 animation-duration: 2s;
 animation-delay: 3s;
 /* animation-iteration-count: infinite; */
 opacity: 0;
 transition: all .5s;
 position: absolute;
 top: 10%;
 left: 50%;
 transform: translate(-50%, -50%);
}
@keyframes sticky-section {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
.sticky-section span:nth-child(2) {
 display: block;
 animation-name: sticky-section;
 animation-fill-mode: both;
 animation-duration: 5s;
 animation-delay: 4s;
 /* animation-iteration-count: infinite; */
 opacity: 0;
 transition: all 4s;
 position: absolute;
 top: 12%;
 left: 50%;
 transform: translate(-50%, -50%);
}
@keyframes sticky-section {
 0% {
  opacity: 0;
 }
 50% {
  opacity: .5;
 }
 100% {
  opacity: 1;
 }
}
.sticky-section span:nth-child(3) {
 display: block;
 animation-name: sticky-section;
 animation-fill-mode: both;
 animation-duration: 5s;
 animation-delay: 6s;
 /* animation-iteration-count: infinite; */
 opacity: 0;
 transition: all 4s;
 position: absolute;
 top: 14%;
 left: 50%;
 transform: translate(-50%, -50%);
}
@keyframes sticky-section {
 0% {
  opacity: 0;
 }
 25% {
  opacity: .5;
 }
 50% {
  opacity: .5;
 }
 100% {
  opacity: 1;
 }
}
.sticky-section span:nth-child(4) {
 display: block;
 animation-name: sticky-section;
 animation-fill-mode: both;
 animation-duration: 5s;
 animation-delay: 8s;
 /* animation-iteration-count: infinite; */
 opacity: 0;
 transition: all 4s;
 position: absolute;
 top: 16%;
 left: 50%;
 transform: translate(-50%, -50%);
}
@keyframes sticky-section {
 0% {
  opacity: 0;
 }
 25% {
  opacity: .25;
 }
 50% {
  opacity: .5;
 }
 75% {
  opacity: .75;
 }
 100% {
  opacity: 1;
 }
}


/* 스크롤 내려가면서 텍스트 연하게 사라지기 */
.sticky-container {
 background-color: beige;
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: space-between;
 position: relative;
 overflow: hidden;
 font-family: 'Nanum Gothic', sans-serif;
}

.dog-img-container img {
 width: 100%;
 height: 100vh;
 position: sticky;
 top: 0;
 object-fit: cover;
 object-position: 70%;
 /* object 속성 활용하기 */
}

.text-content {
 display: flex;
 flex-wrap: wrap;
 padding: 100px;
}

.sticky-title {
 position: absolute;
 top: 20%;
 font-size: 24px;
 font-family: 'NanumSquareNeo-Variable';
}
.sticky-text {
 line-height: 2em;
 font-family: 'NanumSquareNeo-Variable';
}

.sticky-container-name {
 display: flex;
 justify-content: space-between;
 font-family: 'NanumSquareNeo-Variable';
}

.sticky-small-title {
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 justify-content: space-around;
}

.ready-text {
 font-size: 32px;
 font-weight: 900;
 font-family: 'NanumSquareNeo-Variable';
}

.btn-right {
 position: absolute;
 top: 90%;
 left: 80%;
 border: 1px solid black;
 border-radius: 20px;
 background-color: beige;
 cursor: pointer;
 box-shadow: 8px 8px 15px rgba(53, 53, 53, 0.9);
 animation: btn-box 1s ease-out both;
 animation-delay: 1.5s;
 border: none;
 width: 130px;
 height: 40px;
 display: block;
 transition: all 0.2s linear;
 font-family: 'NanumSquareNeo-Variable';
}
.btn-right a {
 color: black;
}
.btn-right:hover {
 transform: scale(1.1);
}

/* 호버안됨 */


/* 입양후기 */
.adoption-container {
 width: 100%;
 height: 100vh;
 background-color: rgb(237, 237, 211);
 position: relative;
 /* opacity: .2; */
 box-sizing: border-box;
 overflow: hidden;
 font-family: 'NanumSquareNeo-Variable';
}

.adoption-container h1 {
 font-size: 38px;
 padding: 20px 32px;
 font-weight: 700;
}

.adoption-container p {
 font-size: 24px;
 padding: 20px 32px;
 font-family: 'NanumSquareNeo-Variable';
}
.slide-img  img {
 transition: all .5s linear;
}
.slide-img img:hover {
 transform: scale(1.1);
 
}
.slide-img {
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}
.slide-img.top img {
 width: 300px;
 height: 300px;
 padding: 12px;
}
.slide-img.bottom img {
 width: 300px;
 height: 300px;
 padding: 12px;
}



/* .btn-center {
 position: absolute;
 z-index: 1;
 top: 90%;
 left: 50%;
 border: none;
 width: 100px;
 height: 40px;
 border-radius: 20px;
 box-sizing: border-box;
 box-shadow: 8px 8px 15px rgba(53, 53, 53, 0.9);
 transform: translateX(1);
 cursor: pointer;
 transition: all 0.2s linear;
} */
.btn-center a {
 color: black;
 font-family: 'NanumSquareNeo-Variable';
}
.btn-center:hover {
 transform: scale(1.1);
}

.another-info {
 background-color: #FAF3E6;
 width: 100%;
 height: 100vh;
 position: relative;
 top: 0;
 left: 0;
 display: flex;
 /* justify-content: space-between; */
}

.another-info-text {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 24px;
 font-family: 'NanumSquareNeo-Variable';
}

.info-text {
 padding: 40px;
 font-size: 32px;
}

.another-info-text p:nth-child(n+2) {
 padding: 40px;
 font-weight: 900;
 font-size: 40px;
}

/* 추가이미지
텍스트 슬라이드
동물을 -> 
취약계층 ->
봉사활동 -> */

.another-info-text p:nth-child(2) {
 transform: translateX(-100%);
 transition: transform 0.5s;
 animation-name: info-text 0.5s ease-out both;
}

@keyframes info-text {
 0% {
  transform: translateX(-100%);
  transition: 0.5s;
 }

 100% {
  transform: translateX(0);
  transition: 0.5s;
 }
}


.another-side-img {
 position: absolute;
 background-image: url(/img/3bfd606fe9f1f03dd443389bb6060c8e.jpg);
 width: 40%;
 height: 100%;
 top: 7%;
 left: 60%;
 /* z-index: 1; */
 background-repeat: no-repeat;
 border-radius: 12px;
}

/* 기타 서비스 */
/* 목록 마우스호버 시 이미지 보여주기
이미지 링크걸기 */
.etc-container {
 width: 100%;
 height: 100vh; 
 background-color: beige;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 overflow: hidden;
}
.etc-text-content {
 position: absolute;
 top: 10%;
 left: 0;
 display: flex;
 justify-content: space-between;
 /* flex-direction: column; */
 align-items: center;
 padding-left: 40px;
 /* overflow: hidden; */
}
.font-h1 {
 font-weight: 900;
 font-size: 52px;
 color: black;
 line-height: 1.3em;
 font-family: 'NanumSquareNeo-Variable';
}
.font-h1:nth-child(2) {
 color: rgb(100, 100, 100);
}

.sub-font {
 font-size: 18px;
 padding-bottom: 8px;
 font-family: 'Nanum Gothic Coding', monospace;
}

.margin-content {
 margin: 0 250px 250px 0;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-direction: column;
}
.flex-wrap-box {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 padding: 32px;
 /* display: none; */

}
.name-content {
 padding: 35px 0;
 font-size: 24px;
 font-weight: 700;
 color: black;
 font-family: 'NanumSquareNeo-Variable';
}
.img-box img {
 width: 300px;
 height: 300px;
 border-radius: 20%;
 transition: all 0.2s linear;
}
.img-box img:hover {
 transform: scale(1.1);
 overflow: hidden;
}
.btn-section {
 cursor: pointer;
 border: none;
 width: 300px;
 height: 40px;
 background-color: yellowgreen;
 border-radius: 20px;
 font-family: 'NanumSquareNeo-Variable';
 font-size: 16px;
 transition: all 0.2s linear;
}
.btn-section a {
 color: black;
}
.btn-section:hover  {
 transform: scale(1.1);
}
/*  footer */
#footer {
 background-color: gray;
 /* height: 100vh; */
 /* color: white; */
 padding: 40px 0;
}

#footer a {
 color: white;
 font-weight: 600;
 font-size: 15px;
}

.footer-title {
 font-size: 28px;
 font-weight: 800;
 color: white;
 font-family: 'NanumSquareNeo-Variable';
}

.footer-container {
 /* border: 1px solid black; */
 display: flex;
 /* flex-wrap: wrap; */
 justify-content: space-around;
 /* padding: 0 32px; */
 align-items: center;
 gap: 100px;
 /* margin: 0 100px; */
}

.footer-text-container {
 
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 flex-direction: column;
 gap: 16px;
 font-family: 'NanumSquareNeo-Variable';
}

.footer-address {
 /* border: 1px solid black; */
 padding: 0 20px;
 color: darkgray;
 font-size: 13px;
}

.footer-address p:nth-child(6) {
 padding: 16px;
}
.footer-end {
 color: darkgray;
 font-size: 13px;
}